.rating {
    display: flex;
    button {
        padding: 0;
        margin: 0;
        border: none;
        background-color: transparent;
    }
    svg {
        display: block;
        fill: global.$background2;
    }

    &StarActive svg,
    &Star:hover svg,
    &Star:has(~ &Star:hover) svg {
        fill: global.$primary !important;
    }
    &Star_active:hover ~ &Star svg {
        fill: global.$background2 !important;
    }
}
