.scrollProgress {
    height: 10px;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: global.$background-primary;
}
// .dark .scrollProgress {
//     background-color: global.$primary-dark;
// }
// .light .scrollProgress {
//     background-color: global.$primary-light;
// }
