.buttonPrimary {
    background-color: global.$background-secondary;
    border-radius: global.$border-radius;
    padding: 12px;
    color: global.$text-primary;
    border: none;
    overflow: hidden;
    position: relative;
}
