$background: #2d303e;
$background2: #1f1d2b;
$text-lighter: #e0e6e9;
$text-light: #abbbc2;
$text-gray: #889898;
$text-dark: #3b5162;
$primary: #ea7c69;
$secondary: #9288e0;
$accent-red: #ff7ca3;
$accent-blue: #65b0f6;
$accent-purple: #9290fe;
$accent-orange: #ffb572;
$accent-green: #50d1aa;
