@use './theme.scss';
* {
    box-sizing: border-box;
}

body {
    background-color: global.$background-primary;
    color: global.$text-primary;
}
body,
div,
p {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

button {
    color: global.$text-primary;
}
ul {
    list-style: none;
}
ul,
li,
a,
p,
input,
button,
span {
    font-size: 1rem;
    font-family: 'Roboto';
}

.float-label {
    color: global.$accent-purple;
    position: relative;
    label {
        position: absolute;
        top: 16px;
        left: 8px;
        pointer-events: none;
        transition: all 0.3s;
    }
}
