.inputText {
    border: solid 2px global.$background-secondary;
    border-radius: global.$border-radius;
    input {
        background-color: global.$background-primary;
        border: none;
        padding: 16px 8px 8px;
        border-radius: global.$border-radius;
        color: global.$text-primary;
        width: 100%;
    }
    input:focus ~ label,
    &Filled > label {
        font-size: 12px;
        transition: all 0.3s;
        top: 2px;
    }
    input:focus-visible {
        outline: none;
    }
}
